.gameContainer {
  box-sizing: border-box;
  padding: 30px 0 30px 0;
}


.gameBoard {
  gap: 30px;
  @apply flex flex-col justify-evenly min-w-full items-center sm:mx-auto;
}

.gameStats {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.cardPile {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;

  .card {
    @apply w-[150px] h-[225px] /* Default size for smaller screens */;
    @apply sm:w-[200px] sm:h-[300px]; /* Larger size constraints for screens > 640px */;

    border-radius: 5px;
    overflow: hidden;
    display: flex; /* Flexbox for aligning image inside */
    justify-content: center; /* Centering image horizontally */
    align-items: center; /* Centering image vertically */
  }

  #undrawn {
    background-color: rgb(240, 240, 240);
  }
}

.formContainer{
  width: 100%;
}

.formContainer form {

  display: flex;
  flex-direction: column;
  width: 100%;

  @apply w-full flex flex-col;
  display: flex;
  gap: 10px;
}

.resultsTable {
  display: flex;
  width: 100%;
  gap: 5%; 
  
}

.resultsHeader {
  border-bottom: 0.5px solid grey;
}

.results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.resultActual {
  display: flex;
  justify-content: space-between;
}

.guessCard {
  @apply flex justify-around;
  /* To align the buttons horizontally */
}

.inputContainer {
  @apply relative;
  /* Relative positioning for custom styling */
}

.inputContainer input[type="radio"] {
  @apply sr-only;
  /* Hide the original radio button but keep it accessible */
}

.inputContainer label {
  @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-black border border-gray-300 rounded-lg cursor-pointer;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Smooth transition */
}

.inputContainer input[type="radio"]:checked+label {
  @apply bg-gray-600 text-white;
  /* Change background to blue and text to white when selected */
}

.inputContainer input[type="radio"]:not(:checked)+label:hover {
  @apply bg-gray-100;
  /* Slightly darker background on hover */
}


.submitButton {
  @apply inline-flex items-center justify-center px-4 py-2 text-sm font-medium border border-transparent rounded-lg cursor-pointer transition-colors ease-in-out duration-300 relative overflow-hidden w-full;
}

.submitButton.disabled {
  @apply bg-gray-400 text-gray-200 cursor-not-allowed;
}

.submitButton.enabled {
  @apply bg-green-600 text-white hover:bg-green-700;
}


.gameLogContainer {
  gap: 30px;
  margin: 20px 0 20px 0;
  /* padding: 40px 0 40px 0; */
  @apply 
    flex 
    flex-col 
    justify-evenly 
    w-full 
    items-center 
    max-w-sm 
    mx-auto
    min-w-[320px]
    relative 
    h-full 
    w-full 
    p-4
    rounded-xl 
    bg-white 
    shadow-[0px_0px_0px_1px_rgba(9,9,11,0.07),0px_2px_2px_0px_rgba(9,9,11,0.05)] 
    dark:bg-zinc-900 dark:shadow-[0px_0px_0px_1px_rgba(255,255,255,0.1)] 
    dark:before:pointer-events-none 
    dark:before:absolute 
    dark:before:-inset-px 
    dark:before:rounded-xl 
    dark:before:shadow-[0px_2px_8px_0px_rgba(0,_0,_0,_0.20),_0px_1px_0px_0px_rgba(255,_255,_255,_0.06)_inset] 
    forced-colors:outline;
}

.gameLogTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
}

.gridItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 5px 0;
  border-bottom: 0.5px solid grey;
  h4 {
    text-align: center;
  }
}

.message {
  margin-top: 10px; 
}