@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;

/* Custom styles with @apply */
* {
    box-sizing: border-box;
    /* border: 1px dotted grey; */
    
}

/* Ensure full width without overflow */
body {
    @apply min-w-[320px] max-w-full min-h-screen bg-gradient-to-b from-gray-700 to-black;

    padding-top: calc(env(safe-area-inset-top));
    padding-bottom: calc(env(safe-area-inset-bottom));
    padding-left: calc(env(safe-area-inset-left) + 10px);
    padding-right: calc(env(safe-area-inset-right) + 10px);


    box-sizing: border-box;
    margin: 0;
}


label {
    @apply mb-2 block text-sm font-semibold text-gray-900;
}

input {
    @apply block w-full appearance-none rounded-lg border border-gray-200 bg-white py-[calc(theme(spacing.2)-1px)] px-[calc(theme(spacing.3)-1px)] text-gray-900 placeholder:text-gray-400 focus:border-cyan-500 focus:outline-none focus:ring-cyan-500 sm:text-sm;
}

h1 {
    @apply text-4xl font-bold text-gray-400;
}

h2 {
    @apply text-3xl font-semibold text-gray-400;
}

h3 {
    @apply text-2xl font-medium text-gray-400;
}

h4 {
    @apply text-sm font-medium text-gray-400;
}

a {
    @apply text-green-600;
}

@tailwind components;
@tailwind utilities;

